body {
    font-family: sans-serif;
    background-color: #127272;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;

}
.color-panel {
    background-color: #fff;
    padding: 30px;
    border-radius: 3px;
    width: 320px;

}

.color {
    margin-bottom: 10px;

}

.color span {
    font-weight: bold;

}
#btn-change {
    color: #fff;
    background-color: #000;
    border-radius:3px;
    border: none;
    padding:15px 20px;
    width: 100%;
    cursor: pointer;
}
#btn-change:active {
transform: scale(.98);

}